body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 313px);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.channel-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 313px);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

:root {
  --toastify-color-light: #fff !important;
  --toastify-color-dark: #172735 !important;
  --toastify-color-info: #5188FF !important;
  --toastify-color-success: #3ABC31 !important;
  --toastify-color-warning: #FFDC00 !important;
  --toastify-color-error: #c91e1e !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7) !important;

  --toastify-icon-color-info: var(--toastify-color-info) !important;
  --toastify-icon-color-success: var(--toastify-color-success) !important;
  --toastify-icon-color-warning: var(--toastify-color-warning) !important;
  --toastify-icon-color-error: var(--toastify-color-error) !important;

  --toastify-toast-width: 400px !important;
  --toastify-toast-background: #fff !important;
  --toastify-toast-min-height: 64px !important;
  --toastify-toast-max-height: 800px !important;
  --toastify-font-family: Segoe UI !important;
  --toastify-z-index: 9999 !important;

  --toastify-text-color-light: #757575 !important;
  --toastify-text-color-dark: #fff !important;

  --toastify-spinner-color: #616161 !important;
  --toastify-spinner-color-empty-area: #e0e0e0 !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;